$black: #050505;
$white: White;
$main:  #050505;
$deepspace:  #080D1D;
$brightturquoise: #10CEDA;
$dimgray: #6F6F6F;
$bondiblue: #009FB8;
$adidas-lipstick: #C0004D;
$adidas-kangaroo: #C6C9BC;
$adidas-codblack: #131313;
$bve-torchred: #F41616;
$bve-linkwater: #EDF5FA;
$brew-muesli: #AB7B5D;
$brew-seashell: #FFF6F0;
$ledevoir-purple: #DDC9F1;
$ledevoir-lavender: #F0F6FC;

//project colors
$projects: 'adidas' 'bve' 'brew' 'ledevoir';
$colors-primary: $adidas-lipstick $bve-torchred $brew-muesli $ledevoir-purple;
@each $current-color in $colors-primary {
    $i: index($colors-primary, $current-color);
    $p: nth($projects, $i);
    .color-#{$p} { 
        color: $current-color;
    }
    .border-#{$p} { 
        border-color: $current-color;
    }
    .after-#{$p}:after{
        background-color: $current-color !important;
    }
}
//

//secondary project colors
//DOTO
