$main-bg-color: #ff6600;
$main-sec-color: #454545;

$black: #050505;
$white: White;
$main:  #050505;
$deepspace:  #080D1D;
$brightturquoise: #10CEDA;
$dimgray: #6F6F6F;
$bondiblue: #009FB8;
$adidas_lipstick: #C0004D;
$adidas_kangaroo: #C6C9BC;
$adidas_codblack: #131313;
$bve_torchred: #F41616;
$bve_linkwater: #EDF5FA;
$brew_muesli: #AB7B5D;
$brew_seashell: #FFF6F0;
$ledevoir_purple: #6C3C9F;
$ledevoir_lavender: #F0F6FC;